/* details section */


.details {

    padding: 2%;
    width: 50%;
    margin: 50px auto;
    background-color: #eeeeee;
    color: #000000;
    border-radius: 10px;
}

.d-header {
    margin: 10px 0px;

}

.d-head {
    display: grid;
    grid-template-columns: auto auto;
}

.d-image {
    width: 60%;
}

.d-image>img {
    width: 100%;
    border-radius: 4%;
}

.d-stat {
    width: auto;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    align-items: center;
}

.d-stat ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-stat ul:first-child {
    font-size: 1.3rem;
    font-weight: bold;
    color: #e06969;
}

.d-stat ul:nth-child(3) {
    color: #3185e6;
}

.d-cast {
    text-align: center;
    margin-bottom: 20px;

}

.d-cast span:nth-child(1) {
    color: #e06969;
    font-weight: bold;
}

.d-cast span:not(:nth-child(1)) {
    color: #3185e6;
}

.d-description {
    margin: 80px 0px;
    line-height: 1.3rem;
    font-weight: light;
}


.d-gallery {
    padding: 0;
    width: 100%;
    height: 210px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
}

.d-gallery::-webkit-scrollbar {
    position: absolute;
    bottom: 200px;
    display: none;
    background-color: none;
    height: 10px;
    cursor: pointer;
}

.d-gallery::-webkit-scrollbar-thumb {
    background-color: var(--main-color-second);
    border-radius: 10px;
    cursor: pointer;
}

.d-gallery:hover::-webkit-scrollbar {
    overflow-x: scroll;
    display: inline;
}

.d-gallery>img {
    height: 200px;
}

.d-trailer {
    display: grid;
    justify-content: center;
    margin: 80px 0px;
    display: 90%;
    color: #1e473d;
}

.d-back {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e06969;
    margin: 10px 0px;
    padding: 10px 0px;
    font-size: 1rem;
    cursor: pointer;
}

.d-torrent {
    text-align: center;
}

.d-torrent h3 {
    margin: 10px 0px;
}

.d-torrent a {
    color: #e06969;
    padding: 5px;
    border-radius: 4px;
    border: #3185e6 solid 1px;
}

.d-torrent a:hover {
    color: #3185e6;
    border: #e06969 solid 1px;
}

iframe {
    width: 800px;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

.d-comment {
    gap: 20px;
    width: 50%;

}

.d-comment>* {
    padding: 5px;
    display: block;
    margin: 20px 0px;
    border: #3185e6 1px solid;
    border-radius: 3px;
}

.d-share {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.d-share a>svg {
    height: 2rem;
    width: 2rem;
}

@media (max-width:1600px) {

    iframe {
        width: 600px;

    }
}

@media (max-width:1450px) {
    .details {
        width: 60%;
    }

    iframe {
        width: 600px;

    }
}

@media(max-width:1200px) {
    .details {
        width: 70%;
    }
}

@media(max-width:1000px) {
    .details {
        width: 80%;
    }
}

@media(max-width:800px) {
    .details {
        margin: 0;

        width: 100%;
    }

    iframe {
        width: 600px;


    }

    .d-stat {
        gap: 30px;
        padding: 20px;

    }
}

@media(max-width:650px) {


    iframe {
        width: 500px;

    }

    .d-stat {
        gap: 30px;
        padding: 20px;

    }

    .d-image {
        width: 60%;
    }

    .d-stat ul {
        gap: 5px;
    }

    .d-stat ul:first-child {
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    iframe {
        width: 400px;
    }

    .d-stat {
        gap: 10px;
        padding: 20px;

    }

    .d-image {
        width: 70%;
    }

    .d-stat ul {
        gap: 5px;
    }

    .d-stat ul:first-child {
        font-size: 1rem;
    }
}


@media(max-width:400px) {
    .details {
        padding: 10px;

    }

    iframe {
        width: 300px;


    }

    .d-stat {
        gap: 5px;
        padding: 10px;

    }

    .d-image {
        width: 70%;
    }

    .d-stat ul {

        gap: 5px;
    }

    .d-stat ul>li {
        overflow: auto;
    }

    .d-stat ul {
        font-size: 0.8em;
    }

    .d-stat ul:first-child {
        font-size: 0.9rem;
    }
}

@media(max-width:300px) {


    iframe {
        width: 230px;


    }

}